# SQL, le langage de requête structurée :

Une base de données est un ensemble de tables contenant des données reliées entre elles par des relations ; on y extrait de l'information par le biais de requêtes exprimées dans un langage spécifique, le [SQL pour Structured Query Language](https://fr.wikipedia.org/wiki/Structured_Query_Language)

Ce langage informatique est notamment très utilisé par les développeurs web pour communiquer avec les données d'un site web.

La partie langage de manipulation des données de SQL permet de rechercher, d'ajouter, de modifier ou de supprimer des données dans les bases de données relationnelles. C'est cette partie qui nous intéresse en terminale NSI, mais il existe 3 autres grandes parties :

- la partie langage de définition des données permet de créer et de modifier l'organisation des données dans la base de données,

- la partie langage de contrôle de transaction permet de commencer et de terminer des transactions,

- la partie langage de contrôle des données permet d'autoriser ou d'interdire l'accès à certaines données à certaines personnes.

Créé en 1974, normalisé depuis 1986, le langage SQL est reconnu par la grande majorité des systèmes de gestion de bases de données relationnelles (SGBDR) du marché. En revanche, chaque SGBDR peut avoir quelques spécificités propres.

Cette année, nous utiliserons principalement SQLite comme moteur de base de données relationnelles.

<h3 class='fa fa-cog' style="color: MediumSeaGreen"> A faire vous même n°1 :</h3>

Lire et faire les activités proposées par David ROCHE à la page [Langage SQL](https://pixees.fr/informatiquelycee/term/c3a.html)

Relever les mots clés du langage SQL que vous avez découvert dans un mémo ci-dessous...

<h3 class='fa fa-cog' style="color: MediumSeaGreen"> A faire vous même n°2 :</h3>

Lire et faire les activités proposées par François-Xavier JOLLOIS sur sa page [SQL Cours et exercices](https://fxjollois.github.io/cours-sql/)

Relever les mots clés du langage SQL que vous avez découvert dans un mémo ci-dessous...

<h3 class='fa fa-cog' style="color: MediumSeaGreen"> A faire vous même n°3 :</h3>

Faire les activités proposées par Nicolas REVERET sur le site  [sql](https://nreveret.forge.apps.education.fr/exercices_bdd/memento_sql/)

Relever les mots clés du langage SQL que vous avez découvert dans un mémo ci-dessous...

<h3 class='fa fa-cog' style="color: MediumSeaGreen"> A faire vous même n°4 :</h3>


Faire les activités proposées par Jacques Le Coupanec sur le site  [https://colbert.bzh/start ](https://colbert.bzh/start)

- Cliquer sur « accès non authentifié mais dégradé »

- Cliquer sur l'image

<center><img src="https://colbert.bzh/book/13/location.png" width=20%></center>

- Cliquer successivement sur :
    - La relation Agences
    - La relation Vehicules
    - La relation Locations
    - Gestion du Réseau

Relever les mots clés du langage SQL que vous avez découvert dans un mémo ci-dessous...

# Mémo SQL, ce qu'il faut retenir :

## Créer 

###  - CREATE 

- permet de créer une nouvelle base de données vide

```sql
CREATE DATABASE meme;
```

- ou permet de créer une nouvelle table vide 

```sql
CREATE TABLE huh
    (id INT, nom TEXT, suu TEXT);
```

- On peut ajouter FOREIGN KEY devant l'attribut choisi entre paranthèses et derrière REFERENCES "nom de l'autre table" (nom de l'attribut de l'autre table" afin de faire le lien entre deux table 

```sql
CREATE TABLE huh
    (id INTEGER, nom TEXT, suu INTEGER, PRIMARY KEY (id));
```

###  - INSERT INTO

- Ajoute un nouvel ligne avec les valeurs donnés dans la table vide

```sql
INSERT INTO huh VALUES(1, "zdhahd", 121);
```

## Intérroger une table de données SQL

### - SELECT 

- affiche les valeurs demandés dans la table

```sql
SELECT suu FROM huh ;
```

- pour afficher toutes les valeurs de la table, on met un "*" entre SELECT et FROM

```sql
SELECT * FROM huh ;
```

#### - DISTINCT

- s'ajoute après SELECT, et permet de supprimer les doublons

```sql
SELECT DISTINCT suu FROM huh ;
```

#### - ROUND

- permet d'arrondir les valeurs lors des calculs

```sql
SELECT ROUND(suu) FROM huh ;
```

#### - WHERE "colonne" = ou > ou < ou >= ou <= ou <> ou  IS NULL

- s'ajoute après ou juste en dessous du SELECT,DELETE,SET et permet d'imposer une condition de filtre

- Pour le IS NULL, il permet de repérer des lignes qui n'aurait pas de valeur dans l'attribut choisi

```sql
SELECT * FROM huh
WHERE suu IS NULL ;

SELECT * FROM huh
WHERE suu IS NOT NULL ;
```

##### - AND 

- s'ajoute après ou juste en dessous du WHERE,... . Il permet d'ajouter une condition d'affichage supplémentaire

```sql
SELECT * FROM huh
WHERE id < 13   AND suu = 20 ;
```

#### - OR

- s'ajoute après ou juste en dessous du WHERE,... . Il permet d'ajouter deux condition d'affichage supplémentaire, ou si une des conditions n'est pas respecté, il affiche quamd même si il respecte l'autre condition

```sql
SELECT *FROM huh
 WHERE suu = 19  OR suu = 20;
```

#### - LOWER() et UPPER()

- vu que par définition, un "a" est différent d'un "A", pour régler ce problème on utilise LOWER et UPPER pour transformer une chaîne soit en minuscule ,soit majuscule.

```sql
SELECT UPPER(nom);

SELECT LOWER(nom);
```
#### - LIKE

- permet de comparer une chaîne de caractère à une pseudo-chaîne

```sql
SELECT * 
    FROM huh
    WHERE Nom LIKE 'S%';
    
SELECT * 
    FROM huh
    WHERE Prenom LIKE '___';
```

#### - BETWEEN

- permet de remplacer "attribut choisi" >= "nombre1" AND "attribut choisi" <= "nombre2" dans le WHERE

```sql
SELECT *
FROM huh
WHERE suu BETWEEN 15 AND 20 ;
```

#### - IN

- permet de remplacer "attribut choisi" = "valeur1" OR "attribut choisi" = "valeur2"

```sql
SELECT * FROM huh
WHERE suu IN ( 18, 19, 20) ;
```

#### - ORDER BY   

- s'ajoute après ou juste en dessous du SELECT et fait que l'affichage de la soit trié selon l'attribut choisi

```sql
SELECT count(*) FROM huh
ORDER BY suu ;
```
#### - GROUP BY

- permet de regrouper une valeur 
```sql
SELECT * FROM huh
    GROUP BY suu; 
```

#### - LIMIT  

- limite le nombre de lignes que  va afficher le SELECT 

```sql
SELECT * FROM huh
LIMIT 13;
```

#### - DATE()

- s'ajoute après SELECT, permet d'obtenir la date d'aujourd'hui

```sql
SELECT DATE("now");
```

- permet d'obtenir la date de hier et pour demain 

```sql
SELECT DATE("now", "-1 day");

SELECT DATE("now", "+1 day");
```

- permet d'obtenir la date du premier du mois actuel

```sql
SELECT DATE("now", "start of month");
```

#### - STRFTIME()

- permet d'obtenir la date comme DATE mais de manière plus précise et plus libre

```sql
SELECT (STRFTIME("%Y", "now") ;
```

- STRFTIME("%Y/%m/%d %H:%M:%S", "now") permet d'obtenir la date actuel jusqu'au secondes

```sql
SELECT STRFTIME("%Y/%m/%d %H:%M:%S", "now") ;
```

#### - COUNT()

- permet de compter le nombre de lignes affichés

```sql
SELECT COUNT(*) FROM huh;
```

- mais aussi le nombre de valeurs de l'attribut (donne la même valeur sauf si des lignes non pas de valeur pour la colonne) 

```sql
SELECT COUNT(suu) FROM huh;
```

#### - SUM()

- permet de calculer la somme des valeurs de l'attribut choisi

```sql
SELECT SUM(suu) FROM huh;
```
#### - AVG()

-  permet de calculer la moyenne des valeurs d'un attribut choisi

```sql
SELECT AVG(suu) FROM huh;
```

#### - MEDIAN()

- permet d'obtenir la médiane des valeurs d'un atttribut choisi

```sql
SELECT MEDIAN(suu) FROM huh;
```

#### -  MIN() et MAX()

- permet d'obtenir la valeur minimum d'un attribut

```sql
SELECT MIN(suu) FROM huh;
```

- et maximum.

```sql
SELECT MAX(suu) FROM huh;
```
#### - LENGTH

- permet d'obtenir la taille de la chaine de caractères

```sql
SELECT LENGTH(Nom)
    FROM huh;
```

## modifier une table de données SQL

### - NATURAL JOIN

- permet de regrouper les lignes de chaque table ayant les mêmes valeurs pour les attributs et ayant le même nom entre les deux tables.

```sql
SELECT *
    FROM huh NATURAL JOIN chill;
```

- on peut réaliser plusieurs jointures

```sql
SELECT * 
    FROM (huh NATURAL JOIN chill)
        NATURAL JOIN doge ;    
```

### - INNER JOIN 

- permet d'associer les données de deux tables seulement s'il y a une correspondance entre ces dernières

```sql

SELECT *
    FROM huh INNER JOIN chill
        USING (suu);
```

- on peut réaliser plusieurs jointures

```sql
SELECT *
    FROM huh 
        INNER JOIN chill USING (suu)
        INNER JOIN doge USING (suu);
```
### - OUTER JOIN

- permet de garder toutes les lignes des deux tables lors de la jointure.

```sql
SELECT *
    FROM huh FULL OUTER JOIN chill
        USING (suu);
```

- ou on peut juste garder les lignes d'une seule table , par exemple celle de gauche (la première donc), 

```sql
SELECT *
    FROM huh LEFT OUTER JOIN chill
        USING (suu);
```

- ou celle de droite (la deuxième).

```sql
SELECT *
    FROM huh RIGHT OUTER JOIN chill
        USING (suu);
```

### - Jointures à la main

- permet de faire des jointures à la main (littéralement)

```sql
SELECT *
    FROM huh, chill
    WHERE huh.suu = chill.suu;
```

### - DELETE FROM 

- permet de supprimer les lignes du tableau choisi

```sql
DELETE FROM huh
WHERE suu < 10 ;
```

- s’il n’y a pas de condition WHERE alors toutes les lignes seront supprimées et la table sera alors vide.

```sql
DELETE FROM huh ;
```
### -  DROP

- supprimer la database en elle-même

```sql
DROP DATABASE meme;
```

- et pareil pour la table(pas juste les données à l'intérieur comme le fait le DELETE FROM)

```sql
DROP TABLE huh;
```


### - UPDATE 

- permet de modifier la table choisi

```sql
UPDATE huh
SET suu = 13
WHERE suu < 12
```

- Toujours accompagné par SET sinon ça sert à rien

```sql
UPDATE huh
```

- s’il n’y a pas de condition WHERE alors toutes les lignes aurons la nouvelle valeur pour l'attribut choisi

```sql
UPDATE table
SET suu = 13
```

### - AS 

- permet d'afficher une nouvel attribut dont les valeurs sont le résultat d'un calcul des valeurs des autres attribut

```sql
SELECT DISTINCT suu * suu AS "suu au carré"
    FROM huh;
```

```sql
```

## Autres activités

- https://colibri.unistra.fr/fr/course/list/notions-de-base-en-sql

- https://sqlzoo.net/


## Ressources

- https://sqlpro.developpez.com/

- https://sql.sh/

****
## Références aux programmes :

### Bases de données :

| Contenus | Capacités attendues | Commentaires |
| ------ | ------ | ------ |
|Langage SQL : requêtes d’interrogation et de mise à jour d’une base de données.|Identifier les composants d’une requête.<br/>Construire des requêtes d’interrogation à l’aide des clauses du langage SQL : SELECT, FROM, WHERE, JOIN.<br/>Construire des requêtes d’insertion et de mise à jour à l’aide de : UPDATE, INSERT, DELETE.|On peut utiliser DISTINCT, ORDER BY ou les fonctions d’agrégation sans utiliser les clauses GROUP BY et HAVING.|

<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />Ce document, basé sur les travaux d'autres enseignants de la liste NSI, est mis à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Licence Creative Commons Attribution -  Partage dans les Mêmes Conditions 4.0 International</a>.

Pour toute question, suggestion ou commentaire : <a href="mailto:eric.madec@ecmorlaix.fr">eric.madec@ecmorlaix.fr</a>